canvas {
  background-image: url('../sprites/cloud.gif')
}

html, body {
    margin: 0;
}

#gameArea {
    position: absolute;
}

#sfb-game {
    position: absolute;
    width: 100%;
    height: 100%;
}
