/* RESET */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  z-index: 0;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

button {
 cursor: pointer;
}

/* STYLING */

body {
    background-image: url('../sprites/cloudOld.gif');
    background-size: cover;
}

.white-body {
  background: #fff;
}

/* anton.i.kulikov@gmail.com Two-N Inc.*/

.game-menu {

}

.game-menu .opening-screen {
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  margin: 0px auto;
  text-align: center;
  padding: 40px 60px 0;
}

.game-menu .opening-screen > button {
    position: absolute;
}

#free-for-all-menu {
  top: 0px;
  right: 80px;

}

#team-death-match-menu {
  top: 215px;
  right: 80px;
}

#open-about-page {
  bottom: 0;
  right: 100px;
}

.about-page {
  margin: 100px auto;
  background: #08E8DE;
  position: relative;
  width: 560px;
  height: 400px;
  border-radius: 20px;
  padding: 0 50px 50px 50px;
}

.about-page > h1 {
  color: #fff;
  font-size: 62px;
  font-family: fantasy;
  font-weight: bold;
  margin: 0 155px;
}

.about-page > p {
  text-align: center;
  font-size: 24px;
  padding-top: 55px;
  font-family: fantasy;
}

.about-page > a {
  color: #fff;
}

.about-page > a:hover {
  color: #D816C4;
}

.about-page #bryan {
  position: absolute;
  left: 65%;
  bottom: 110px;
  font-size: 24px;
}

.about-page #rich {
  position: absolute;
  left: 55%;
  bottom: 110px;
  font-size: 24px;
}

.about-page > button {
  position: absolute;
  bottom: 10px;
  left: 43%;
  background: #fff;
  padding: 10px 20px;
  color: #D816C4;
  width: 60px;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
}

.about-page > button:hover {
  position: absolute;
  bottom: 10px;
  left: 43%;
  background: #D816C4;
  padding: 10px 20px;
  color: #fff;
  width: 60px;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
}

.game-form {
  width: 1040px;
  border-radius: 10px;
  background: #fff;
  text-align: center;
  margin: 200px auto;
  border: 1px solid transparent;
}

.hide-menu {
  display: none;
}

.hidden {
  display: none;
}

.player-number-selection {
  background: #fff;
  border-radius: 10px;
  width: 400px;
  margin: 150px auto;
  text-align: center;
  padding: 40px 60px 0;

}

.player-number-selection > h1 {
  font-size: 44px;
  margin-bottom: 20px;
}

.player-number-selection > ul > li {
  border-top: 1px solid #000;
  cursor: pointer;
  padding: 20px 10px;
  font-size: 24px;
}

.player-number-selection > ul > li:hover {
  background: lightgray;
}

.toggle-players {
  font-size: 32px;
  border: 1px solid #000;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.toggle-players:hover {
  background: lightgray;
}

.player-forms {

}

.player-forms .display-players:nth-child(odd) {
  float: left;
}

.player-forms .display-players:nth-child(even) {
  float: right;
}

.highlight-selection {
  background: yellow;
}

.player-forms > article {
  display: none;
}

.player-forms .display-players {
  position: relative;
  display: block;
  border: 1px solid #000;
  border-radius: 5px;
  width: 435px;
  padding: 20px;
  margin: 20px;

}

.player-forms > article > ul > h4 {
  font-size: 22px;
  margin: 0 0 25px;
}

.player-forms > article > ul > li {
  color: darkgray;
  padding: 5px 0;
}

.player-forms > article > ul > li:hover {
  color: #000;
}

.player-ready {
  background: yellow;
}

.player-forms > article > h1 {
  border-bottom: 1px solid #000;
  font-size: 24px;
  padding-bottom: 10px;

}

.player-forms > article > ul {
  margin: 25px 0 60px;
}

.player-type {
  cursor: pointer;
}

.player-fart {
  cursor: pointer;
}

.player-team {
  cursor: pointer;
}

.player-forms > article #types {
  float: left;
  border-right: 1px solid #000;
  padding-right: 25px;
}

.player-forms > article #farts {
  float: right;
  margin-right: 25px;
}

.player-forms > article > button {
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 15px;
  left: 180px;

}

.hide-button {
  display: none;

}

.start-game {
  display: block;
  padding: 10px 20px;
  margin: 40px 463px 40px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 75px;
}

canvas {
}

html, body {
    margin: 0;
}

#gameArea {
    background-image: url('../sprites/cloud.gif');
    background-size: cover;
    position: absolute;
    z-index: 3;
}

#fireworks {
    z-index: 50;
}

#flamethrower {
    z-index: 50;

}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
